ipykernel
requests
SPARQLWrapper
beautifulsoup4
lxml
textblob
textract
spacy
textblob_fr
langid
gensim
faker
openpyxl
nltk
thefuzz[speedup]
yake
pandas
sklearn
matplotlib
wordcloud
unidecode
pycountry
scikit-plot
seaborn